*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}
body{
    background-color: #fbfcfc;
}
html{
    font-size: 62.5%;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
#hiking h2,
#about h2{
    font-size: 3.6rem;
    line-height: 5rem;
    font-weight: 600;
    color: #263238;
    margin: 0 auto;
    text-align: center;
}
#about  > div > div > div,
#details > div > div {
    border-radius: 10px;
    box-shadow: 0 27px 43px rgba(32, 94, 171, 0.1);
}

.wrap-outer{
    max-width: 1404px;
    margin-left: auto;
    margin-right: auto;
}
.wrap-inner{
    max-width: 1172px;
    margin-left: auto;
    margin-right: auto;
}
.btn{
    color: #fcfcfc;
    display: inline-block;
    font-size: 2rem;
    height: 80px;
    line-height: 8rem;
    padding: 0 67px;
    background-color: #2870db;
    border-radius: 40px;
    box-shadow: 0 21px 24px rgb(17, 83, 165, 0.21);
} 
.btn:hover{
    box-shadow: 0 21px 24px rgb(17, 83, 165, 0.41);
}
/* header */
header{
    background-color: #fff;
    background: url(img/home/buble-left.png) no-repeat left bottom, url(img/home/bubble-right.png) no-repeat top right;
    background-size: 100px, 1000px;
    padding-top: 85px;
    padding-bottom: 79px;
}
#top{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#top nav ul{
    display: flex;
    flex-wrap: wrap;
}
#top nav ul li a{
    display: inline-block;
    height: 3.6rem;
    line-height: 3.6rem;
    padding: 0 36px;
    color: #fff;
    font-size: 1.8rem;        /* note */
    font-weight: 400;
}
#top nav ul li a.highlight{
    color: #14215e;
    background-color: #fff;
    border-radius: 18px;
}
header .wrap-inner{
    text-align: left;
   
}

header .wrap-inner h1{
    color: #1c2056;
    font-size: 5rem;
    font-weight: 600;
    line-height: 6rem;
    max-width: 410px;
    margin-top: 149px;
    margin-bottom: 33px;
}
header .wrap-inner h2{
    max-width: 410px;
    font-size: 1.8rem;
    line-height: 4rem;
    color: rgba(45, 32, 88, 0.65);       /* note opacity */
    font-weight: 400;
    margin-bottom: 103px;
}
header .btn{
    margin-bottom: 309px;
}
/* section 2 */
#hiking{
    padding-top: 79px;
    background: url(img/hiking/bg-left.png) no-repeat left 400px, url(img/hiking/half-circle-right.png) no-repeat right 384px, url(img/hiking/right-bg.png) no-repeat right 875px;
    background-size: 1265px, 61px, 180px;
}
#hiking h2{
    max-width: 700px;
    margin-bottom: 101px;
}
#details {
    position: relative;
    height: 1483px;
    padding-bottom: 104px;
}

#details > div {
    position: absolute;
    /* width: calc((100% -66px) / 2); */
    max-width: 553px;           /* note */
    
}
#details > div:first-child{
    top: 0;
    left: 0;
}
#details > div:nth-child(2){
    top: 401px;
    right: 0;
}
#details > div:nth-child(3){
    top: 852px;
    left: 0;
}
#details > div h3{
    color: #263238;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin-bottom: 37px;
}
#details > div p{
    font-size: 1.5rem;
    line-height: 3.6rem;
    color: #546e7a;
}
#details > div > div{
    padding: 70px 73px;
    background-color: #fff;
}
#details a{
    position: absolute;
    top: 1162px;
    right: 164px;
}
#details > div > img{
    display: block;
    margin: 0 auto 62px;
}

/* our success */
#success{
    padding-top: 104px;
    padding-bottom: 95px;
}
#success h2{
    max-width: 1002px;
    
}
#success > div{
    display: flex;
    justify-content: space-between;
}
#success > div > p{
    flex-basis: 300px;
    text-align: center;
    font-size: 2.2rem;
    line-height: 2.3rem;
    color: #263238;
}
#success > div > p span{
    display: block;
    font-size: 3.7rem;
    font-weight: 600;
    color: #1a56a3;
    margin-top: 30px;
    margin-bottom: 36px;
}

/* about */
#about {
    padding-top: 95px;
    padding-bottom: 78px;
    background: url(img/about/bg-left.png) no-repeat left 260px, url(img/about/bg-right.png) no-repeat right 150px;
}
#about h2{
    margin-bottom: 100px;
}
#about  > div > div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: left;
}
#about  > div > div > div{
    width: calc((100% - 106px) / 3); 
    padding-bottom: 35px;
    background-color: #fff;
}
#about  > div > div > div > a > img{
    display: block;
    height: 221px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px 10px 0 0;
}
#about  > div > div > div > a{
    display: block;
}
#about  > div > div > div > div{
    
    padding: 34px 32px 0;
   
}
#about h3{
    font-size: 2.4rem;
    line-height: 3rem;
    margin-bottom: 31px;
}
#about h3 a{
    color: #263238;
}

#about p{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #546e7a;
    margin-bottom: 36px;
}
#about  > div > div > div > div > a{
    font-size: 1.8rem;
    line-height: 3rem;
    color: #2870db;
}
#about  > div > div > div > div > a:hover{
    color: hsl(216, 61%, 31%);
}
#about  > div > div > div:last-child{
    position: relative;
}
#about  > div > div > div:last-child::after{
    content: " ";
    position: absolute;
    display: inline-block;
    height: 97px;
    width: 97px;
    background-color: rgba(207, 238, 251, 0.5);
    border-radius: 50%;
    right: -38px;
    bottom: -22px;
}
/* wrap form, footer */
.wrap-form-footer{
    padding-top: 78px;
    background: url(img/footer.png) no-repeat center bottom;
    /* background-size: 1800px; */
}

.wrap-form-footer > div.wrap-outer{
    width: 100%;
    background: #3072c0 url(img/login/form-bg.png) no-repeat;
    
    padding-top: 82px;
    padding-bottom: 100px;
    position: relative;
}
.wrap-form-footer > div.wrap-outer > p{
    font-size: 3.6rem;
    line-height: 4.5rem;
    color: #fff;
    text-align: center;  
    max-width: 940px;
    margin: 0 auto 66px;
    
}
.wrap-form-footer form{
    max-width: 940px;
    margin: 0 auto;
    padding: 0 150px;
}
.wrap-form-footer form input{
    height: 70px;
    line-height: 7rem;
    font-size: 2.4rem;
    color: rgba(84, 110, 122, 0.6);
    padding: 0 37px;
    display: block;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 38px;
    border: none;
}
.wrap-form-footer form input:focus{
    outline: none;
}
.wrap-form-footer form button{
    display: block;
    background-color: #00aeff;
    height: 80px;
    border-radius: 40px;
    line-height: 6rem;
    color: #fff;
    font-size: 2rem;
    text-align: center;
    padding: 0 74px;
    border: none;
    margin: 72px auto 0;
    box-shadow: 0 22px 24px 2% rgba(17, 83, 165, 0.21);
    cursor: pointer;
}
.wrap-form-footer form button:hover{
    background-color: hsl(199, 100%, 58%);
}
.wrap-form-footer form button:focus{
    outline: none;
}
.wrap-form-footer > div.wrap-outer::after{
    content: " ";
    position: absolute;
    height: 147px;
    width: 147px;
    background-color: rgba(248, 199, 202, 0.5);
    border-radius: 50%;
    top: 340px;
    right: -55px;
}
footer{
    padding-top: 98px;
    color: #fff;
    padding-bottom: 86px;
}
#links{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
#links > div{
    width: 14%;
}
#links span{
    display: block;
}
#links > div > h4{
    text-transform: uppercase;
    font-size: 1.8rem;
    line-height: 3.6rem;
    font-weight: 600;
    margin-bottom: 42px;
}
#links > div > p{
    margin-bottom: 30px;
}
#links p,
#links a{
    color: #fff;
    font-size: 1.6rem;
}
#links a{
    display: block;
    transition: all 0.2s ease;
}
#links a:hover{
    transform: translateX(5px);
}
#links div:nth-child(1) p,
#links div:nth-child(1) a{
    line-height: 3rem;
}
#links div:nth-child(2) a{
    line-height: 4rem;
}
#links div:nth-child(3) a,
#links div:nth-child(4) a,
#links div:nth-child(5) a{
    line-height: 3.6rem;
}
footer > ul{
    margin-top: 70px;
}
footer > ul > li > a{
    display: inline-block;
    text-indent: -1000000px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    background-color: #fff;
    background-position: center center;
    background-repeat: no-repeat;
    transition: all 0.2s ease;
}
footer > ul > li > a:hover{
    transform: translateY(5px);
}
footer > ul{
    display: flex;
}
footer > ul > li:not(:last-child){
    margin-right: 9px;
}
footer > ul > li:nth-child(1) a{
    background-image: url(img/social/instagram.png);
}
footer > ul > li:nth-child(2) a{
    background-image: url(img/social/facebook.png);
}
footer > ul > li:nth-child(3) a{
    background-image: url(img/social/twitter.png);
}